body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

header nav a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
